.dermaFineInstance {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.h6,
.typeInYour {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 143%;
}
.h6 {
  margin: 0;
  font-size: inherit;
  line-height: 160%;
  font-weight: 500;
  font-family: inherit;
}
.typography {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: var(--button-l-size);
}
.inactive,
.inactiveFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactiveFrame {
  flex-direction: column;
  gap: var(--gap-xl);
}
.inactive {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 56px;
  flex-direction: row;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  font-family: var(--body-xs);
  font-size: var(--body-m-size);
  color: var(--text-secondary);
  min-width: 181px;
}
.input,
.textFieldOutlinedInstance,
.textfieldoutlined {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-smi) 0 var(--padding-2xs);
}
.textFieldOutlinedInstance,
.textfieldoutlined {
  max-width: 100%;
}
.textfieldoutlined {
  width: 325px;
}
.textFieldOutlinedInstance {
  gap: 25px;
}
.button1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon {
  height: 22px;
  width: 18px;
  position: relative;
  display: none;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-3xl);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  width: 324px;
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.button3 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon1 {
  height: 22px;
  width: 18px;
  position: relative;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button2,
.unstyledbutton1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton1 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--blue-600);
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.dermaFineInstanceParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  max-width: 100%;
  flex-shrink: 0;
}
.shapeCircle {
  width: 5px;
  height: 5px;
  position: absolute;
  margin: 0 !important;
  right: 693px;
  bottom: -201px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.label {
  height: 24px;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  display: inline-block;
}
.inactive1,
.input1,
.textfieldoutlined1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.inactive1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) 0;
}
.input1,
.textfieldoutlined1 {
  display: none;
  flex-direction: column;
}
.input1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-smi) 0 var(--padding-2xs);
}
.textfieldoutlined1 {
  width: 345px;
  max-width: 100%;
  z-index: 2;
  font-size: var(--body-m-size);
  color: var(--text-secondary);
}
.privacyPolicy,
.termsAndConditions {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 15.6px;
}
.termsConditionsFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
}
.forgetPassword,
.frameFooter {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameFooter {
  height: 16px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-15xl) 0 0;
}
.forgetPassword {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 144px var(--padding-xl) var(--padding-smi) 53px;
  gap: var(--gap-231xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-s-size);
  color: var(--text-primary);
  font-family: var(--body-xs);
}
@media screen and (max-width: 450px) {
  .h6 {
    font-size: var(--body-m-size);
    line-height: 26px;
  }
  .dermaFineInstanceParent {
    gap: var(--gap-17xl);
  }
  .termsConditionsFrame {
    gap: var(--gap-22xl);
  }
  .forgetPassword {
    gap: var(--gap-231xl);
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
