.d {
  color: var(--violet-900);
}
.erma {
  color: var(--violet-600);
}
.f {
  color: var(--violet-900);
}
.ine {
  color: var(--violet-600);
}
.dermafine1 {
  margin: 0;
  position: relative;
  font-size: var(--heading-5-size);
  line-height: 110%;
  font-weight: 700;
  font-family: var(--body-xs);
  text-align: left;
}
.dermafine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.h6 {
  margin: 0;
  position: relative;
  font-size: var(--button-l-size);
  letter-spacing: 0.15px;
  line-height: 160%;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--text-primary);
  text-align: left;
}
.typography {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.textFieldInstance,
.typographyWrapper {
  display: flex;
  justify-content: flex-start;
}
.typographyWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.textFieldInstance {
  width: 250px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.inactive,
.typeInYour {
  font-family: var(--body-xs);
}
.typeInYour {
  width: 251px;
  height: 15.6px;
  position: relative;
  font-size: var(--body-s-size);
  letter-spacing: 0.15px;
  line-height: 143%;
  color: var(--text-primary);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.inactive {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  font-size: var(--body-m-size);
  color: var(--text-secondary);
  min-width: 193px;
}
.input {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-smi) 0 var(--padding-2xs);
}
.inactive1,
.input,
.textfieldoutlined {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inactive1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 56px;
  flex-direction: row;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  font-family: var(--body-xs);
  font-size: var(--body-m-size);
  color: var(--text-secondary);
  min-width: 193px;
}
.input1 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--other-outlined-border);
  padding: 0 var(--padding-smi) 0 var(--padding-2xs);
}
.input1,
.textfieldoutlined1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon {
  height: 22px;
  width: 18px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xl);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--blue-600);
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.dermaFineLabel,
.loginForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loginForm {
  gap: var(--gap-5xl);
}
.dermaFineLabel {
  gap: 19px;
}
.button3 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon1 {
  height: 22px;
  width: 18px;
  position: relative;
  display: none;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button2,
.unstyledbutton1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton1 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-3xl);
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  align-self: stretch;
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.textFieldInstanceParent {
  margin: 0;
  width: 346px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-16xl);
  max-width: 100%;
}
.termsConditionsPrivacyPolic {
  width: 5px;
  height: 5px;
  position: absolute;
  margin: 0 !important;
  right: 693px;
  bottom: -201px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.privacyPolicy,
.termsAndConditions {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 15.6px;
}
.frameForTermsConditions,
.resetPassword,
.termsAndConditionsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.termsAndConditionsParent {
  align-self: stretch;
  gap: var(--gap-22xl);
}
.frameForTermsConditions,
.resetPassword {
  height: 16px;
  padding: 0 0 0 var(--padding-smi);
  box-sizing: border-box;
}
.resetPassword {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 121px var(--padding-15xl) var(--padding-smi) var(--padding-xl);
  gap: var(--gap-186xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-s-size);
  color: var(--text-primary);
  font-family: var(--body-xs);
}
@media screen and (max-width: 750px) {
  .dermafine1 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .dermafine1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .h6 {
    font-size: var(--body-m-size);
    line-height: 26px;
  }
  .textFieldInstanceParent {
    gap: var(--gap-16xl);
  }
  .termsAndConditionsParent {
    gap: var(--gap-22xl);
  }
  .resetPassword {
    gap: var(--gap-186xl);
  }
}
