.erma,
.ine {
  color: var(--violet-600);
}
.dermafine1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
}
.dermaFineInstance,
.dermafine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dermaFineInstance {
  width: 326px;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--violet-900);
}
.h6,
.pleaseCheckYour {
  position: relative;
  letter-spacing: 0.15px;
}
.pleaseCheckYour {
  font-size: var(--body-s-size);
  line-height: 143%;
}
.h6 {
  margin: 0;
  font-size: inherit;
  line-height: 160%;
  font-weight: 500;
  font-family: inherit;
}
.typography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon {
  height: 22px;
  width: 18px;
  position: relative;
  display: none;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button,
.unstyledbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledbutton {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-3xl);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--blue-600);
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  align-items: center;
  justify-content: center;
}
.dermaFineInstanceParent,
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.loginForm {
  gap: var(--gap-29xl);
  font-size: var(--button-l-size);
}
.dermaFineInstanceParent {
  gap: var(--gap-4xl);
  max-width: 100%;
}
.button3 {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
}
.maskedIcon1 {
  height: 22px;
  width: 18px;
  position: relative;
  display: none;
}
.content1,
.unstyledbutton1 {
  display: flex;
  justify-content: flex-start;
}
.content1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.unstyledbutton1 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs) var(--padding-lgi) var(--padding-5xs)
    var(--padding-3xl);
}
.button2,
.frameParent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-black);
  width: 344px;
  border-radius: var(--br-9xs);
  box-shadow: var(--elevation-2);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.frameParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-37xl);
  flex-shrink: 0;
}
.ellipseShape {
  width: 5px;
  height: 5px;
  position: absolute;
  margin: 0 !important;
  right: 693px;
  bottom: -201px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.privacyPolicy,
.termsAndConditions {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 15.6px;
}
.termsAndPrivacyFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-22xl);
}
.frameTermsAndConditions,
.resetPasswordEmailMessage {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameTermsAndConditions {
  height: 16px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-20xl) 0 0;
  font-size: var(--body-s-size);
}
.resetPasswordEmailMessage {
  width: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 177px var(--padding-xl) var(--padding-smi) var(--padding-39xl);
  gap: var(--gap-255xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--heading-5-size);
  color: var(--text-primary);
  font-family: var(--body-xs);
}
@media screen and (max-width: 750px) {
  .dermafine1 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
}
@media screen and (max-width: 675px) {
  .resetPasswordEmailMessage {
    gap: var(--gap-255xl);
    padding-left: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dermafine1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .h6 {
    font-size: var(--body-m-size);
    line-height: 26px;
  }
  .frameParent {
    gap: var(--gap-37xl);
  }
  .termsAndPrivacyFrame {
    gap: var(--gap-22xl);
  }
}
