.erma,
.ine {
  color: var(--violet-600);
}
.dermafine1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
}
.dermafine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--heading-5-size);
  color: var(--violet-900);
  font-family: var(--body-xs);
}
@media screen and (max-width: 1050px) {
  .dermafine1 {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
}
@media screen and (max-width: 450px) {
  .dermafine1 {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
}
