.usercard {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--purple-200);
}
.userThumb {
  height: 27.4%;
  width: 27.4%;
  top: 36.3%;
  right: 4.93%;
  bottom: 36.3%;
  left: 67.67%;
  border-radius: 50%;
  border: 0 solid var(--violet-500);
  box-sizing: border-box;
  z-index: 1;
}
.details,
.ellipsesChild,
.userThumb {
  position: absolute;
  margin: 0 !important;
}
.details {
  height: 18.36%;
  width: 18.36%;
  top: 3.15%;
  right: 3.56%;
  bottom: 78.49%;
  left: 78.08%;
  border-radius: 50%;
  background-color: var(--violet-50);
}
.ellipsesChild {
  height: 22.74%;
  width: 11.37%;
  top: 1.1%;
  right: 1.37%;
  bottom: 76.16%;
  left: 87.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sectionText {
  height: 32.33%;
  width: 32.33%;
  top: 33.97%;
  right: 2.47%;
  bottom: 33.7%;
  left: 65.21%;
  border-radius: 50%;
  border: 0 solid var(--white);
  box-sizing: border-box;
  z-index: 2;
}
.ellipses,
.sectionText,
.top {
  margin: 0 !important;
  position: absolute;
}
.top {
  height: 22.74%;
  width: 22.74%;
  top: 38.77%;
  right: 7.26%;
  bottom: 38.49%;
  left: 70%;
  border-radius: 50%;
  background-color: var(--purple-300);
  z-index: 3;
}
.ellipses {
  height: 730px;
  width: 730px;
  top: -112px;
  right: -116px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
