.erma,
.ine {
  color: var(--violet-600);
}
.dermafine {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.iconJamIconsOutlineL {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem1 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
}
.iconJamIconsOutlineL1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonText {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.textContainer {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.iconIconoirCancel {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.badge {
  height: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--red-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--body-xs-size);
  color: var(--red-800);
}
.iconJamIconsOutlineL2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-8xs) var(--padding-xs)
    var(--padding-5xs);
  gap: var(--gap-5xs);
}
.iconJamIconsOutlineL3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem3 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.iconJamIconsOutlineL4 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonText1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.textContainer1 {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.iconIconoirCancel1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.badge1 {
  height: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--red-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--body-xs-size);
  color: var(--red-800);
}
.iconJamIconsOutlineL5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.iconJamIconsOutlineL6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem5 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.iconJamIconsOutlineL7 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonText2 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.textContainer2 {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.iconIconoirCancel2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.badge2 {
  height: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--red-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--body-xs-size);
  color: var(--red-800);
}
.iconJamIconsOutlineL8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xs);
  gap: var(--gap-5xs);
}
.iconJamIconsOutlineL9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem7 {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.iconJamIconsOutlineL10 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.buttonText3 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.textContainer3 {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.iconIconoirCancel3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.badge3 {
  height: 20px;
  border-radius: var(--br-9xs);
  background-color: var(--red-100);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--body-xs-size);
  color: var(--red-800);
}
.iconJamIconsOutlineL11 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.menuItem6 {
  width: 16px;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.buttonsGroup,
.left,
.menuItem6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttonsGroup {
  flex: 1;
  overflow-x: auto;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--body-m-size);
  color: var(--blue-gray-900);
}
.left {
  width: 512px;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: 38px 32px;
  max-width: 100%;
}
.iconJamIconsOutlineL12 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
  z-index: 0;
}
.buttonText4 {
  position: relative;
  font-size: var(--body-m-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--violet-600);
  text-align: left;
  white-space: nowrap;
}
.textContainer4 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-sm);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconJamIconsOutlineL13 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
  z-index: 2;
}
.text {
  position: relative;
  line-height: 140%;
}
.badge4,
.button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.badge4 {
  margin: 0 !important;
  position: absolute;
  top: 8px;
  left: 24px;
  border-radius: var(--br-xs);
  background-color: var(--default-alert);
  display: none;
  padding: var(--padding-12xs-5) var(--padding-7xs-5);
  z-index: 3;
}
.button {
  border-radius: var(--br-5xs);
  display: flex;
  padding: var(--padding-xs) var(--padding-5xs);
  position: relative;
  cursor: pointer;
}
.iconJamIconsOutlineL14 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.buttonText5 {
  position: relative;
  font-size: var(--body-m-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--body-xs);
  color: var(--white);
  text-align: left;
  white-space: nowrap;
}
.textContainer5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-sm);
}
.iconJamIconsOutlineL15 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.button1 {
  cursor: pointer;
  border: 2px solid var(--violet-600);
  padding: var(--padding-xs) var(--padding-3xs);
  background-color: var(--violet-600);
  flex: 1;
  border-radius: var(--br-31xl);
  justify-content: center;
}
.button1,
.buttonsGroup1,
.property1default {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonsGroup1 {
  width: 226px;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--body-xs-size);
  color: var(--white);
}
.property1default {
  align-self: stretch;
  height: 109px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-61xl) var(--padding-18xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--heading-5-size);
  color: var(--violet-900);
  font-family: var(--body-xs);
}
@media screen and (max-width: 1050px) {
  .property1default {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .left {
    gap: 38px 32px;
  }
}
